<!--
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
<ion-card class="welcome-card" color = "secondary">
  <img src="assets/img/capa.jpg" > 
  <ion-card-header>
    <ion-card-subtitle>Comece A Estudar Se Divertindo!</ion-card-subtitle>
    <ion-card-title>faça ja sau conta e comece a aprender mais!<ion-icon name="flask"></ion-icon>
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="userLogin.email"></ion-input>
       </ion-item>

       <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="userLogin.password"></ion-input>
      </ion-item>
    
      <ion-button fill="solid" expand="block" color="primary" (click)="onLogin(email, password)">Login</ion-button>-->


      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Login</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">
        <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
      
          <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
      
          <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message"
                *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
      
          <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Log In</ion-button>
      
          <label class="error-message">{{errorMessage}}</label>
        </form>
        <p class="go-to-register">
          No account yet? <a (click)="goToRegisterPage()">Create an account.</a>
        </p>
      </ion-content>