<ion-content >

  <!--ion-slid 1-->
  <ion-slides pager="true">
    <ion-slide style="background:#ffffff" >
      <img src="assets/img/movimentoicone.gif"  style="width: 500px; height: 200px;" >
      <ion-text color="primary">
        <h1>Bem Vindo(a) Ao QuímiPlay!</h1>
      </ion-text>
    </ion-slide>

<!--ion-slid 2-->
    <ion-slide style="background: #ffffff;" > 
          <img src="assets/img/tela1.jpg" style="width: 500px; height: 300px; ;" >
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Curiosidades:</ion-card-subtitle>
              <ion-card-title> Você Sabia que a massa dos pães ou bolos crescem devido A decomposição térmica do bicarbonato de sódio libera o gás CO2, que infla o bolo e o pão </ion-card-title>
            </ion-card-header>
            </ion-card>
    </ion-slide>

    <!--ion-slid 3-->
    <ion-slide style=" background:#fefefe" >
        <img src="assets/img/asgif/paraslide3.gif" style="width: 400px; height: 300px;" >
        <ion-text color="primary">
          <h1>Faça Já Sua Conta</h1>
         </ion-text>
         <ion-button fill="solid" expand="block" color="primary" routerLink="/login">Registra Sua Conta</ion-button> <br>
         <ion-button fill="solid" expand="block" color="primary" routerLink="/login">fazer LOGIN</ion-button>
     </ion-slide> 
  </ion-slides>
  
</ion-content>
