<ion-header> 
  <ion-toolbar color="primary">
    <ion-title>QuímiPlay!<ion-icon name="beaker" color=""></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-card class="welcome-card">
      <img src="assets/img/capa.jpg" > 
      <ion-card-header>
        <ion-card-subtitle>Começe A Estudar Se Divertindo!</ion-card-subtitle>
        <ion-card-title>QuímiPlay<ion-icon name="flask"></ion-icon></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>APP Desenvolvido com o proposito de aprimorar e ensinar alunos na aréa da quimica 
          trazendo conhecimento de uma forma divertida e simplificada! </p>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
    <ion-button fill="solid" color="primary" routerLink="/jogos">nivel 1</ion-button>
</ion-col>
<ion-col>
    <ion-button fill="solid" color="primary" routerLink="/jogos">nivel 2</ion-button>
</ion-col>
</ion-row>
</ion-grid>
 <!--game 2 do APP nivel dois-->

  <ion-card class="welcome-card">
    <img src="assets/img/nivel2.jpg" > 
    <ion-card-header>
      <ion-card-subtitle>Começe A Estudar Se Divertindo!</ion-card-subtitle>
      <ion-card-title>Nível 2<ion-icon name="flask"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Continue Assim Para Chegar Ao Próximo Nivel! </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label><h1>Nível 2</h1></ion-label>
    </ion-list-header>
    <!--butao para a pagina de jogos-->
    <ion-item href="/jogos"> 
      <ion-button size="large"><ion-text color="">Start</ion-text>
      <ion-icon slot="start" color="" name="play" ></ion-icon>  
<!-- Cod de carregando -->
        <ion-spinner name="dots"></ion-spinner> </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label><h1>Nível 2/1</h1></ion-label>
      </ion-list-header>
      <!--butao para a pagina de jogos-->
      <ion-item href="/jogos"> 
        <ion-button size="large"><ion-text color="">Start</ion-text>
        <ion-icon slot="start" color="" name="play" ></ion-icon>  
  <!-- Cod de carregando -->
          <ion-spinner name="dots"></ion-spinner> </ion-button>
        </ion-item>
      </ion-list>
    </ion-card>

    <!--game3-->

      <ion-card class="welcome-card">
        <img src="assets/img/capa.jpg" > 
        <ion-card-header>
          <ion-card-subtitle>Começe A Estudar Se Divertindo!</ion-card-subtitle>
          <ion-card-title>Nível 3<ion-icon name="flask"></ion-icon></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>APP Desenvolvido com o proposito de aprimorar e ensinar alunos na aréa da quimica 
            trazendo conhecimento de uma forma divertida e simplificada! </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label><h1>Nível 3</h1></ion-label>
        </ion-list-header>
        <!--butao para a pagina de jogos-->
        <ion-item href="/jogos"> 
          <ion-button size="large"><ion-text color="">Start</ion-text>
          <ion-icon slot="start" color="" name="play" ></ion-icon>  
    <!-- Cod de carregando -->
            <ion-spinner name="dots"></ion-spinner> </ion-button>
          </ion-item>
        </ion-list>
      </ion-card>
  
      <ion-card>
        <ion-list lines="none">
          <ion-list-header>
            <ion-label><h1>Nível 3/1</h1></ion-label>
          </ion-list-header>
          <!--butao para a pagina de jogos-->
          <ion-item href="/jogo2"> 
            <ion-button size="large"><ion-text color="">Start</ion-text>
            <ion-icon slot="start" color="" name="play" ></ion-icon>  
      <!-- Cod de carregando -->
              <ion-spinner name="dots"></ion-spinner> </ion-button>
            </ion-item>
          </ion-list>
        </ion-card>    
</ion-content>
