<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Friends<ion-icon name="flame" color=""></ion-icon>
    </ion-title>
  </ion-toolbar>

<ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter" color="danger"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
